/* src/components/TitleBar.css */
.title-bar {
  height: 48px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0; 

}

.title-bar-content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}

.window-controls {
  display: flex;
  justify-content: flex-end;
  height: 48px;
}
.window-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  border: none;
  background: transparent;
  color: var(--text-main);
  cursor: pointer;
}
.window-control:hover { background: var(--bg-hover); }
.window-close:hover { background: #c42b1c; color: white; }
